.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 86px;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 20px;

    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 64px;
      .logo {
        height: 48px;
        width: 48px;
      }

      .brand {
        font-family: Rowdies;
        font-size: 20px;
        line-height: 25px;
        margin-left: 8px;
        font-weight: 700px;
        color: #000000;
      }
    }

    .right {
      color: #fff;
    }

    .connectBtn {
      border-radius: 8px;
      background-color: #1890ff;
      border-color: #1890ff;
      color: #fff;
    }
  }

  .logo {
    height: 196px;
    width: 196px;
  }

  .detailBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 42px auto;

    .title {
      font-size: 64px;
      font-weight: 700;
      color: #1890ff;
      margin-bottom: 0;

      font-family: Rowdies;
      font-style: normal;
      font-weight: 300;
      font-size: 40px;
      line-height: 50px;
      text-align: center;
      color: #000000;
    }

    .divider {
      margin: 13px 0;
      width: 50vw;
      height: 6px;
      background: #1890ff;
      border-radius: 3px;
    }

    .desc {
      font-family: Raleway;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      color: #666;
    }
  }

  .showSection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 48px;
  }

  .tryBtn {
    height: 40px;
    margin-top: 20px;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    width: 125px;
    border-radius: 20px;
  }

  .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    column-gap: 20px;

    height: 60px;
    background: #1890ff;
    opacity: 0.8;
  }
}
