.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 86px;
    // box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 20px;

    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 64px;
      .logo {
        height: 48px;
        width: 48px;
      }
      font-family: Poppins, Helvetica, Arial, sans-serif;

      .brandBar {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        font-family: Poppins, Helvetica, Arial, sans-serif;

        .brand {
          margin-left: 8px;
          font-weight: 500;
          font-size: 32px;
          line-height: 27px;
          color: #000000;
        }

        .version {
          margin-left: 8px;
          font-size: 20px;
          line-height: 20px;
          vertical-align: bottom;
          color: #575757;
        }
      }
    }

    .right {
      color: #fff;
    }

    .connectBtn {
      // background-color: #2e82e5;
      // border-color: #2e82e5;
      width: 199px;
      height: 50px;
      border-radius: 25px;

      font-family: Poppins, Helvetica, Arial, sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      // color: #ffffff;
    }
  }

  .logo {
    height: 196px;
    width: 196px;
  }

  .detailBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 42px auto;
    min-height: 600px;

    .title {
      font-size: 64px;
      font-weight: 700;
      color: #2e82e5;
      margin-bottom: 0;

      font-family: Poppins, Helvetica, Arial, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 60px;
      line-height: 90px;
      text-align: center;
      color: #000000;
    }

    .divider {
      margin: 13px 0;
      width: 50vw;
      height: 6px;
      background: #2e82e5;
      border-radius: 3px;
    }

    .desc {
      font-family: Poppins, Helvetica, Arial, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      color: #8a8a8a;
    }
  }

  .showSection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 48px;
    height: 350px;
  }

  .tryBtn {
    height: 40px;
    margin-top: 20px;
    color: #fff;
    width: 125px;
    border-radius: 20px;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-weight: 500;
  }

  .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

    height: 60px;
    background: #2e82e5;
  }
}
