.container {
  display: flex;
  flex-direction: column;

  .mail {
    display: flex;
    flex-direction: column;
    padding: 0px 24px;

    .subject {
      font-size: 18px;
      padding-bottom: 5px;
      border-bottom: 1px solid #585858;
      font-family: Poppins, Helvetica, Arial, sans-serif;
      .label {
        color: #585858;
      }

      .info {
        font-weight: 400;
      }
    }

    .from {
      font-size: 16px;
      border-bottom: 1px solid #585858;
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: Poppins, Helvetica, Arial, sans-serif;
      .label {
        color: #585858;
      }

      .info {
        font-weight: 400;
      }
    }

    .attachments {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      font-size: 16px;
      border-bottom: 1px solid #585858;
      padding-top: 5px;
      padding-bottom: 5px;
      font-family: Poppins, Helvetica, Arial, sans-serif;
      .label {
        color: #585858;
        margin-right: 12px;
      }

      .container {
        display: flex;
        flex-direction: row;
        .item {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          .name {
            font-size: 16px;
            margin-right: 8px;
            color: #585858;
          }

          &:hover {
            border-bottom: 1px solid #2e82e5;
          }

          &:not(:first-child) {
            margin-left: 12px;
          }
        }
      }
    }

    .content {
      display: flex;
      flex: 1;
      margin-top: 10px;
      height: fit-content;
      padding: 20px;
      // background: #ddd;
    }

    .locked {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 400px;

      font-family: Poppins, Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-size: 22px;
      line-height: 38px;
      color: #575757;

      .icon {
        width: 100px;
        height: 100px;
        margin-bottom: 12px;
      }

      div {
        cursor: pointer;
      }
    }
  }
}
