:global(.ant-menu-item-active) {
  background-color: #efefef;
}

.sider {
  display: flex;
  flex-direction: column;

  .menuItem {
    margin: 0 !important;
    height: 40px;
  }

  .menuItem::after {
    border-right: 4px solid #2e82e5;
  }

  .createWrapper {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    position: relative;

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 8px;
      padding-bottom: 8px;
      text-align: center;
      height: 40px;
      width: 80px;
      font-weight: 500;
      font-size: 15px;
      line-height: 14px;
      color: #fff;
      cursor: pointer;
    }

    .plain {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      background: #575757;
      align-items: center;
      word-wrap: break-word;
    }

    .encrypted {
      background: #2e82e5;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    .on {
      width: 160px;
    }

    .off {
      width: 0;
      visibility: hidden;
    }

    .icon {
      position: absolute;
      width: 20px;
      height: 24px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .onIcon {
      left: 78%;
      top: 50%;
    }
  }
}

.menuItemWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  color: #373737;

  .title {
    font-size: 15px;
    line-height: 19px;
  }

  .unreadBubble {
    // font-weight: 300;
    font-size: 12px;
    line-height: 10px;
  }
}
