.container {
  position: relative;

  .composeBtn {
    position: absolute;
    bottom: 48px;
    right: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #1890ff;
    color: #fff;
  }

  .contentWrapper {
    display: flex;
    min-height: calc(100vh - 64px); // 64px是header的高
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 64px;
      .logo {
        height: 48px;
        width: 48px;
      }

      .brand {
        margin-left: 8px;
        font-size: 28px;
        font-weight: 700px;
        color: #fff;
      }
    }

    .right {
      color: #fff;
    }
  }
}
