@import (css)
  url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

.container {
  position: relative;

  .composeBtn {
    position: absolute;
    bottom: 48px;
    right: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #2e82e5;
    color: #fff;
  }

  .contentWrapper {
    display: flex;
    min-height: calc(100vh - 64px); // 64px是header的高
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 40px;

    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 64px;
      .logo {
        height: 48px;
        width: 48px;
      }

      .brandBar {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        font-family: Poppins, Helvetica, Arial, sans-serif;

        .brand {
          margin-left: 8px;
          font-weight: 500;
          font-size: 32px;
          line-height: 27px;
          color: #000000;
        }

        .version {
          margin-left: 8px;
          font-size: 20px;
          line-height: 20px;
          color: #575757;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-family: Poppins, Helvetica, Arial, sans-serif;

      .addressBar {
        font-weight: 400;
        font-size: 16px;
        line-height: 15px;
        color: #575757;

        max-width: 250px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.dropMenu {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #eee;
  padding: 8px 0px;
  background-color: #fff;
  font-family: Poppins, Helvetica, Arial, sans-serif;

  .item {
    min-width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 4px 12px;
    &:hover {
      background-color: #e5e5e5;
    }
  }
}
