@borderLine: 0.5px solid #eee;

.itemWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  box-shadow: inset 0 -0.5px 0 0 #eee, inset 0 0.5px 0 0 #eee;
  // border-top: @borderLine;
  // border-bottom: @borderLine;

  height: 40px;

  font-size: 14px;
  line-height: 20px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  // font-weight: 300;

  &:hover {
    box-shadow: 0px 4px 3px -3px #ccc, 0px -4px 3px -3px #eee;
  }

  .markBar {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    margin-right: 12px;
    width: 75px;
  }

  .detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    height: 100%;

    .left {
      display: flex;
      flex-direction: row;
      max-width: 700px;
      color: #373737;

      .infoBar {
        display: flex;
        flex-direction: row;
        span {
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .from {
          width: 150px;
          margin-right: 20px;
          max-width: 250px;
        }

        .subject {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: 300px;
          margin-right: 20px;
        }

        .abstract {
          color: #8a8a8a;
          max-width: 500px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          // font-style: oblique;
          margin-right: 20px;
        }
      }
    }

    .right {
      .date {
        font-size: 14px;

        // width: 70px;
        height: 16px;

        font-family: Roboto, Helvetica, Arial, sans-serif;
        // font-weight: 300;
        font-size: 12px;
        line-height: 15px;

        color: #8a8a8a;
      }
    }
  }

  .unread {
    font-weight: 600;
  }
}
