@borderLine: 1px solid #eee;

.itemWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  border-top: @borderLine;
  border-bottom: @borderLine;

  height: 40px;

  font-size: 14px;
  line-height: 20px;
  font-family: 'Rowdies', cursive;
  font-weight: 300;

  .left {
    display: flex;
    flex-direction: row;
    max-width: 700px;
    color: #575757;

    .markBar {
      display: flex;
      flex-direction: row;
      column-gap: 8px;
      margin-right: 12px;
    }

    .infoBar {
      display: flex;
      flex-direction: row;
      span {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .from {
        width: 150px;
        margin-right: 20px;
        max-width: 200px;
      }

      .subject {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        max-width: 200px;
      }
    }
  }

  .right {
    .date {
      font-size: 12px;

      width: 70px;
      height: 16px;

      font-family: 'Rowdies', cursive;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;

      color: #c4c4c4;
    }
  }

  .read {
    font-weight: 700;
  }
}
