.container {
  padding: 10px 10px;
  .listWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 15px;
    height: 100vh - 100px;
  }
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  .address {
    margin-right: 12px;
    width: 350px;
  }
}
