.container {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  padding: 20px;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;

    &:not(:first-child) {
      margin-right: 8px;
    }
  }

  .footer {
    // position: absolute;
    // bottom: 12px;
    display: flex;
    flex-direction: row;
    margin-top: 52px;
  }

  .content {
    margin-top: 4px;
    height: 30vh;
  }

  .uploadBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 0px;

    .btn {
      width: 70px;
      height: 20px;
      background: #ededed;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      text-align: justify;
      // color: #575757;
      cursor: pointer;
      font-family: Roboto, Helvetica, Arial, sans-serif;
    }

    .tip {
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      margin-left: 6px;
      display: flex;
      align-items: center;
      text-align: justify;
      color: #8a8a8a;
      font-family: Roboto, Helvetica, Arial, sans-serif;
    }
  }

  .locked {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;

    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 38px;
    color: #575757;
    cursor: pointer;

    .icon {
      width: 100px;
      height: 100px;
      margin-bottom: 12px;
    }
  }
}
