.container {
  input {
    margin-bottom: 8px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 52px;
  }

  .content {
    height: 300px;
    border-radius: 8px;
  }
}
